{% extends "base.html" %}

{% block content %}
<div class="middle">
    <div class="form-style-5">
    <h1 class="text">Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="text small">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text small">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text small"><label class="container">Remember me{{ form.remember_me() }}<span class="checkmark"></span></label></p>
        <p class="text small">{{ form.submit() }}</p>
    </form>
    <p class="text small">New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div></div>
{% endblock %}
